registry=https://registry.npmjs.org/
@jwnwilson:registry=https://component-library-675468650888.d.codeartifact.eu-west-1.amazonaws.com/npm/component-library/
//component-library-675468650888.d.codeartifact.eu-west-1.amazonaws.com/npm/component-library/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
